<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /navig8-vision-directory-hyderabad-day-1/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /navig8-vision-directory-hyderabad-day-1/index.html [L]
</IfModule>