body {
  background-color: #dbebef !important;
}



.form-label .label-text {
  color: #333 !important;
}

.form-control,
.form-check-input,
.form-select {
  border-color: #ababab !important;
  border-width: 2px !important;
  box-shadow: none !important;
  transition: border-color 0.2s ease-in-out;
}
.form-control:focus,
.form-select:focus {
  border-color: #ababab !important;
}

li,
strong,
ul {
  background-color: #4dc5e4;
  color: #333;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

.imp-inst-heading {
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}


.top-logo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .top-logo {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .top-logo {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .top-logo {
    height: 80px !important;
    width : 100%;
    object-fit: cover;
  }
}


.form-heading-color {
  color : #1badd4;
}
